body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: sans-serif;
    text-transform: uppercase;

}
h3{
    padding: 0;
    margin: 0;
}

P{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-width: 90%;
    padding: 15px 10px;
    border-radius: 1em;
    box-shadow: 4px 3px #373e4049;
    background-color: #3D2B3D;
}

.display{
    background-color: #635D5C;
    opacity: 0.8;
    min-width: 90%;
    max-width: 90%;
    min-height: 2.3em;
    max-height: 2.3em;
    padding: 0.3rem;
    box-shadow: 3px 3px rgba(127, 125, 125, 0.519);
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
    overflow:hidden;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-display{
    display: flex;
    max-width: 5rem;
    margin-top: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #CBEFB6;
}

.top-display{
    color: #dddddd;
    max-width: 5rem;
}

.buttons{
    display: flex;
    max-width: 100%;
    flex: 1;
    justify-content: space-between;
}

.btn-left{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
}

.btn-low{
    display: flex;
    flex: 1;
}

.btn-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

button{
    margin: 0.3em;
    border-radius: 5px;
    border: solid 1px  #121212;
    color: #FBFBFF;
    background-color: #635D5C;
    box-shadow: 4px 4px rgba(24, 24, 24, 0.348);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0.7em 0.9em;
    transition: transform 70ms, box-shadow 50ms;
}

button:hover{
    transform: translate(2px,1px);
    box-shadow: 3px 3px #121212;
    filter: brightness(120%);
}

button:active{
    transform: translate(3px,3px);
    box-shadow: 1px 1px #121212;
    opacity: 0.8;
}

.op , .dot , .equals{
    background-color: #CBEFB6;
    color: #635D5C;
    font-weight: bolder;
}

.clear{
    background-color: #9b1d1fb4;
    color: #d2d2d2;
    font-weight: bolder;
}