body{
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    display: flex;
    flex: 0;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-transform: uppercase;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3D2B3D;
    min-width: 100%;
    min-height: 5rem;
    border-bottom: #CBEFB6 7px solid;
    transition: 0.6s;
}

h3{
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    color: #726b6a;
    transition: 0.70s;
    text-shadow: #121212 4px 3px 2px;
}

h3:hover{
    font-size: 2.2rem;
}

P{
    padding: 0;
    margin: 0;
    font-size: 1.9rem;
}


p.top-display,p.bottom-display{
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 500;
}

.head-p{
    font-size: max(1vw, 11px);
    font-weight:light;
    color: #CBEFB6;
    transition: 0.90s;
    text-shadow: #1c171c 4px 3px 2px;
}

.head-p:hover{
    font-size: max(1.3vw, 13px);
}


.center-container{
    padding: 7vh 7vw;
    box-shadow: #e7e7e7 2px 2px 30px;
    border-radius: 45px;
    margin-top: auto;
}

.main{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 15px 10px;
    border-radius: 1em;
    box-shadow: 4px 3px #373e4049;
    background-color: #3D2B3D;
    border: 2px solid #373e40eb;
}

.display{
    background-color: #635D5C;
    opacity: 0.8;
    min-width: 93%;
    max-width: 93%;
    min-height: 2.9em;
    max-height: 2.9em;
    padding: 0.3rem;
    box-shadow: 3px 3px rgba(127, 125, 125, 0.519);
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
    overflow:hidden;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-between;
    min-width: 10rem;
}

.bottom-display{
    display: flex;
    max-width: 5rem;
    margin-top: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #CBEFB6;
}


.top-display{
    color: #dddddd;
    max-width: 5rem;
}

.buttons{
    display: flex;
    max-width: 100%;
    flex: 1;
    justify-content: space-between;
}

.btn-left{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    flex: 1;
}

.btn-low{
    display: flex;
    flex: 1;
}

.btn-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 0.3em;
    border-radius: 5px;
    border: solid 1px  #121212;
    color: #FBFBFF;
    background-color: #635D5C;
    box-shadow: 4px 4px rgba(24, 24, 24, 0.438);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0.7em 0.9em;
    transition: transform 70ms, box-shadow 50ms;
    min-width: 3rem;
    min-height: 3.2rem;
    font-size: 1.1rem;
    font-weight: lighter;
}

button:hover{
    transform: translate(2px,1px);
    box-shadow: 3px 3px #121212;
    filter: brightness(120%);
}

button:active{padding: 0.5em;
    transform: translate(3px,3px);
    box-shadow: 1px 1px #121212;
    opacity: 0.8;
}

.op , .dot , .equals{
    background-color: #CBEFB6;
    color: #635D5C;
    font-weight: bolder;
}

.clear{
    background-color: #9b1d1fb4;
    color: #d2d2d2;
    font-weight: bolder;
}

.bottom-display-container{
    display: flex;
    justify-content: space-between;
}

.dlt-btn{
    padding: 0;
    margin: 0;
    color:#3D2B3D;
    font-weight: 400;
    text-shadow: 1px 1px #3d2b3d68;
    flex: 0;
    cursor: pointer;
    transition: 0.2s;
}

.dlt-btn:hover{
    color: #CBEFB6;
}

.dlt-btn:active{
    color: white;
    text-shadow: 8px 8px 4px #3d2b3d68;
}

.footer{
    display: flex;
    min-width: 100%;
    max-width: 100%;
    min-height: 3rem;
    background-color: #635d5cd8; 
    justify-content: center;
    align-items: center;
    border-top: #CBEFB6 9px solid;
    gap: 8px;
    margin-top: auto;
}

.footer-p{
    font-size: max(2vw, 1.6rem);
    color: #CBEFB6;
    font-family: 'Libre Barcode 39 Text', cursive;
}

.footer-a{
    font-size: 1.2rem;
    color: #9b1d1fd7;
    font-weight: bolder;
}

